/*
gnb
*/

#gnb {
	width: 248px;
	height: 100%;
	padding: 0 50px 0 32px;
	position: fixed;
	overflow: auto;
	overflow-y: hidden;
}

#logo {
	width: 248px;
	height: 80px;
	padding-top: 32px;
}

#navi-container {
	display: block;
	margin-bottom: 40px;
}

.navi-section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
}

.navi-section:last-child {
	border-bottom: none;
}

.work-li {
	width: 248px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
}

#copyright {
	margin-bottom: 40px;
}

/*
content
*/

#content-container {
	margin-left: 280px;
	padding: 32px 56px;
}


/*
index page
*/

#decoration {
	height: 80px;
}

/*
post card
*/

.card-cover {
	overflow: hidden;
}

.card-cover img{
	width: 100%;
}

.card-cover:hover img{
	-moz-transform: scale(1.07);
	-webkit-transform: scale(1.07);
	transform: scale(1.07);

}

.card-info {
	padding: 16px 0 32px 0;
}

/*
post page
*/

#post-container {
	margin-right: 352px;
	padding-top: 80px;
}

#post-body {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 8px;
}

#post-body p{
	max-width: 560px;
	margin: 0 auto;
}

#post-body img {
	width: 100%;
	max-width: 960px;
}

#info-container {
	position: fixed;
	width: 312px;
	top: 32px;
	right: 0;
	padding: 0 8px;
	margin-right: 64px;
}
.post-content {
	margin-bottom: 24px;
}

#post-info {
	margin: 40px 0;
}

.info-section {
	margin-bottom: 12px;
	padding-bottom: 12px;
}

#post-close {
	float: right;
	height: 32px;
}

#prev-post {
	float: left;
	height: 32px;
}

#next-post {
	float: right;
	height: 32px;
}

/*
about & contact page
*/

#siteinfo-container {
	padding-top: 80px;
	max-width: 1024px;
	margin: 0 auto;
}

.siteinfo-text {
	max-width: 560px;
	margin: 0 auto;
	padding: 0 8px 24px 8px;
	margin-bottom: 24px;
	border-bottom: 1px solid #d9d9d9;
}
.siteinfo-text p {
	padding: 12px 0;
}

.siteinfo-text:first-child, .siteinfo-text:last-child {
	border-bottom: none;
}

.personal-contact {
	width: 50%;
	float: left;
}

/*
etc
*/

.clearfix:after {
	content:""; 
	display:block; 
	clear:both;
}

/*
animation and transition
*/


.animation-fadein {
	-webkit-animation: fadein 1s ease-out;
	-moz-animation: fadein 1s ease-out;
	-ms-animation: fadein 1s ease-out;
	-o-animation: fadein 1s ease-out;
	animation: fadein 1s ease-out;

}

@-webkit-keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}

@-moz-keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}

@-ms-keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}

@-o-keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}

.animation-upward {
	position: relative;

	-webkit-animation: upward 1s ease-out;
	-moz-animation: upward 1s ease-out;
	-ms-animation: upward 1s ease-out;
	-o-animation: upward 1s ease-out;
	animation: upward 1s ease-out;
}

@-webkit-keyframes upward {
    from {opacity:0; top:64px;}
    to {opacity:1; top:0px;}
}

@-moz-keyframes upward {
    from {opacity:0; top:64px;}
    to {opacity:1; top:0px;}
}

@-ms-keyframes upward {
    from {opacity:0; top:64px;}
    to {opacity:1; top:0px;}
}

@-o-keyframes upward {
    from {opacity:0; top:64px;}
    to {opacity:1; top:0px;}
}

@keyframes upward {
    from {opacity:0; top:64px;}
    to {opacity:1; top:0px;}
}


/* progressive image CSS */
.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}

.progressive img.preview {
  filter: blur(2vw);
  transform: scale(1.05);
}

.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: progressiveReveal 1s ease-out;
}

@keyframes progressiveReveal {
	0% { transform: scale(1.05); opacity: 0; }
	100% { transform: scale(1); opacity: 1; }
}

/*
media query
*/
@media screen and (max-width: 1450px) {
	#post-container {
		margin: initial;
		padding: initial;
	}

	#post-body {
		max-width: 800px;
	}

	#info-container {
		position: static;
		width: initial;
		max-width: 560px;
		margin: 0 auto;
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 840px) {
	#gnb {
		display: none;
	}

	#navi-container {
		display: none;
	}

	#content-container {
		margin-left: initial;
		padding: 32px 24px;
	}
	#info-container, #post-body p, .siteinfo-text {
		max-width: initial;
	}
}

