---
layout: default
---
<div id="index-container">
	<div class="bricklayer">
		{% for post in site.posts %}
		<div class="card">
			<a href="{{ site.url }}{{ post.url }}">
				{% if post.cover-image %}
				<div class="card-cover">
					<img src="{{ post.cover-image }}">
				</div>
				{% endif %}
				<div class="card-title"><h5>{{post.title}}</h5></div>
			</a>
			<small>
				{% for item in post.tags %}
				<span class="card-tag">{{ item }}</span>
				{% endfor %}
			</small>
		</div>
		{% endfor %}
	</div>

	<script src="{{ site.baseurl }}/js/bricklayer.min.js"></script>
	<script>var bricklayer = new Bricklayer(document.querySelector(".bricklayer"));</script>
</div>