<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTP=8">
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/base.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bricklayer.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/perfect-scrollbar.css">
	<script src="{{ site.baseurl }}/js/perfect-scrollbar.min.js"></script>

</head>

<body class="bg-color">

<div id="gnb">
	<div id="logo">
		<h4><a href="{{ site.url }}">yy graphics 🍺</a></h4>
	</div>
	<div id="navi-container">
		<div class="navi-section">
			<h5><a href="{{ site.baseurl}}/about">about</a></h5>
		</div>
		<div class="navi-section">
			<h5><a href="{{ site.url }}">works</a></h5>
			<ul>
				{% for post in site.posts %}
				<li class="work-li"><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="navi-section">
			<h5><a href="{{ site.baseurl}}/contact">contact</a></h5>
			<ul>
				<li class="work-li"><a href="">Yul's Instagram</a></li>
				<li class="work-li"><a href="">Youtak's Instagram</a></li>
				<li class="work-li"><a href="">Behance</a></li>
			</ul>
		</div>
	</div>
	<div id="copyright">
		<p>© yulri,takku.</p>
	</div>
</div>
