/*
general
*/

.disable-button {
  opacity: 0.2;
  cursor: not-allowed;
}

.h-spacer {
  margin-bottom: 1.6rem;
}

/*
gnb
*/

#gnb {
	width: 248px;
	height: 100%;
	padding: 0 20px 0 32px;
	position: fixed;
	overflow: auto;
	overflow-y: hidden;
  z-index: 90;
}

#gnb-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow-y: hidden;
  display: none;
  z-index: 1;
}

#logo {
	width: 248px;
	height: 72px;
	padding-top: 40px;
  z-index: 1;
}

#logo a {
  float: left;
  margin: initial;
}

.navi-section {
	margin: 0 0 20px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(153,153,153,0.3);
  z-index: 1;
}

.navi-section:nth-child(3) {
	border-bottom: none;
  margin-bottom: 40px;
}

.work-li {
	width: 248px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
}

.li-active {
	text-decoration: line-through;
}

#copyright {
	margin-bottom: 40px;
}

#meetus {
  position: absolute;
  left: 186px;
  font-size: 2.5rem;
  margin-left: 4px;
}

#navi-toggle {
  margin-right: 16px;
  float: right;
  display: none;

  width: 32px;
  height: 32px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#navi-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 22px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#navi-toggle span:nth-child(1) {
  top: 10px;
  left: 5px;
}

#navi-toggle span:nth-child(2) {
  top: 20px;
  left: 5px;
}

#navi-toggle.open span:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#navi-toggle.open span:nth-child(2) {
  top: 14px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/*
content
*/

#content-container {
	margin-left: 280px;
	padding: 32px 0px;
}


/*
index page
*/

#index-container {
  padding: 80px 24px 0 24px;
}

#decoration {
	height: 80px;
}

.card {
  margin-bottom: 32px;
}

.card a {
  display: block;
}

.card-cover {
	overflow: hidden;
  margin-bottom: 12px;
}

.card-cover img{
	width: 100%;
  display: block;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.card a:hover .card-cover img{
  -webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
	transform: scale(1.03);
}
.card-title {
  margin-bottom: 4px;
}

.card-tag {
  margin-right: 2px;
}

/*
post page - body
*/

#post-container {
	margin-right: 352px;
  padding: 0 32px;
	padding-top: 80px;
}

#post-body {
	max-width: 960px;
	margin: 0 auto;
}

#post-body p{
	max-width: 480px;
	margin: 0 auto;
}

#post-body img {
	width: 100%;
	max-width: 960px;
}

#info-container {
	position: fixed;
	width: 320px;
	top: 32px;
	right: 0;
	margin-right: 32px;
}
.post-content {
	margin-bottom: 32px;
}

/*
post-page - info
*/

#post-info {
	margin-bottom: 40px;
}

.info-section {
	margin-bottom: 20px;
	padding-bottom: 20px;
  border-bottom: 1px solid rgba(153,153,153,0.3);
}

.info-section:last-child, .info-section:first-child {
  border-bottom: none;
  margin-bottom: 0;
}

#post-alt-title {
  max-width: 480px;
  display: none;
  position: fixed;
  z-index: 90;
  top: 40px;
  padding-top: 2px;
  border-top: 2px solid #111111;
}

#post-navi {
  padding: 8px 0 40px 0;
}

#prev-post {
	float: left;
  margin-right: 24px;
	height: 32px;
}

#next-post {
	float: left;
	height: 32px;
}

#go-index {
  float: right;
  height: 32px;
}

.post-tag {
  margin-right: 3px;
}

/*
about & contact page
*/

#siteinfo-container {
	padding: 0 32px;
  padding-top: 80px;
	max-width: 1024px;
	margin: 0 auto;
}

.siteinfo-headline {
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.siteinfo-text {
	max-width: 480px;
	margin: 0 auto;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid rgba(153,153,153,0.3);
}

.siteinfo-text:last-child {
	border-bottom: none;
}

.siteinfo-text p {
  padding-bottom: 1.6rem;
}

.siteinfo-text p:last-child {
  padding-bottom: initial;
}

.personal-contact {
	width: 50%;
	float: left;
}

.yul:hover {
  color: red;
}

.youtak:hover {
  color: blue;
}

/*
etc
*/

.clearfix:after {
	content:""; 
	display:block; 
	clear:both;
}

#dim {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: hidden;
  z-index: 1;
    -webkit-animation: dim 0.2s ease-out;
  -moz-animation: dim 0.2s ease-out;
  -ms-animation: dim 0.2s ease-out;
  -o-animation: dim 0.2s ease-out;
  animation: dim 0.2s ease-out;
}


/*
animation and transition
*/

.scroll-effect h5, .scroll-effect h4, .scroll-effect h5 a {
  color: red;
}

@-webkit-keyframes dim {
  from {opacity:0;}
  to {opacity:0.8;}
}

@-moz-keyframes dim {
  from {opacity:0;}
  to {opacity:0.8;}
}

@-ms-keyframes dim {
  from {opacity:0;}
  to {opacity:0.8;}
}

@-o-keyframes dim {
  from {opacity:0;}
  to {opacity:0.8;}
}

@keyframes dim {
  from {opacity:0;}
  to {opacity:0.8;}
}

.animation-gnbcontent {
  position: relative;

  -webkit-animation: rightward 0.35s ease-out, fadein 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);;
  -moz-animation: rightward 0.35s ease-out, fadein 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);;
  -ms-animation: rightward 0.35s ease-out, fadein 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);;
  -o-animation: rightward 0.35s ease-out, fadein 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);;
  animation: rightward 0.35s ease-out, fadein 0.5s cubic-bezier(0.47, 0, 0.75, 0.72);;
}

@-webkit-keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}

@-moz-keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}

@-ms-keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}

@-o-keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}

@keyframes fadein {
  from {opacity:0;}
  to {opacity:1;}
}

.animation-upward {
	position: relative;

	-webkit-animation: upward 0.7s ease-out;
	-moz-animation: upward 0.7s ease-out;
	-ms-animation: upward 0.7s ease-out;
	-o-animation: upward 0.7s ease-out;
	animation: upward 0.7s ease-out;
}

@-webkit-keyframes upward {
  from {opacity:0; top:64px;}
  to {opacity:1; top:0px;}
}

@-moz-keyframes upward {
  from {opacity:0; top:64px;}
  to {opacity:1; top:0px;}
}

@-ms-keyframes upward {
  from {opacity:0; top:64px;}
  to {opacity:1; top:0px;}
}

@-o-keyframes upward {
  from {opacity:0; top:64px;}
  to {opacity:1; top:0px;}
}

@keyframes upward {
  from {opacity:0; top:64px;}
  to {opacity:1; top:0px;}
}

.animation-downward {
  -webkit-animation: downward 0.5s ease-out;
  -moz-animation: downward 0.5s ease-out;
  -ms-animation: downward 0.5s ease-out;
  -o-animation: downward 0.5s ease-out;
  animation: downward 0.5s ease-out;
}

@-webkit-keyframes downward {
  from {opacity:0; top:0px;}
  to {opacity:1; top:40px;}
}

@-moz-keyframes downward {
  from {opacity:0; top:0px;}
  to {opacity:1; top:40px;}
}

@-ms-keyframes downward {
  from {opacity:0; top:0px;}
  to {opacity:1; top:40px;}
}

@-o-keyframes downward {
  from {opacity:0; top:0px;}
  to {opacity:1; top:40px;}
}

@keyframes downward {
  from {opacity:0; top:0px;}
  to {opacity:1; top:40px;}
}

.animation-rightward {
  -webkit-animation: rightward 0.25s ease-in-out, fadein 0.25s ease-in-out;
  -moz-animation: rightward 0.25s ease-in-out, fadein 0.25s ease-in-out;
  -ms-animation: rightward 0.25s ease-in-out, fadein 0.25s ease-in-out;
  -o-animation: rightward 0.25s ease-in-out, fadein 0.25s ease-in-out;
  animation: rightward 0.25s ease-in-out, fadein 0.25s ease-in-out;
}

@-webkit-keyframes rightward {
  from {left:-200px;}
  to {left:0px;}
}

@-moz-keyframes rightward {
  from {left:-200px;}
  to {left:0px;}
}

@-ms-keyframes rightward {
  from {left:-200px;}
  to {left:0px;}
}

@-o-keyframes rightward {
  from {left:-200px;}
  to {left:0px;}
}

@keyframes rightward {
  from {left:-200px;}
  to {left:0px;}
}

/*
perfact scroll bar
 */

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  bottom: 0px;
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  right: 0;
  position: absolute;
  margin: 4px 0;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}


.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  opacity: 0.6;
}

.ps__thumb-x {
  background-color: #aaa;
  border-radius: 5px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  bottom: 2px;
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 5px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  right: 2px;
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 10px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 10px;
}

@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

/*
bricklayer css
*/

.bricklayer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.bricklayer-column-sizer {
  width: 100%;
  display: none;
}

@media screen and (min-width: 480px) {
  .bricklayer-column-sizer {
    width: 50%;
  }
}

@media screen and (min-width: 1100px) {
  .bricklayer-column-sizer {
    width: 33.333%;
  }
}

@media screen and (min-width: 1600px) {
  .bricklayer-column-sizer {
    width: 25%;
  }
}

.bricklayer-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 8px;
  padding-right: 8px;
}

/* 
lazyloading CSS 
*/

.b-lazy {
  opacity: 0;
  transition: all 3s ease-out;
}
.b-loaded {
  opacity: 1;
}

/* 
progressive image CSS 
*/

.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}

.progressive img.preview {
  filter: blur(3vw);
  transform: scale(1.03);
}

.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: progressiveReveal .7s ease-out;
}

@keyframes progressiveReveal {
	0% { transform: scale(1.03); opacity: 0.5; }
	100% { transform: scale(1); opacity: 1; }
}

/*
color mode selector
*/

.negative {
  background: rgba(17,17,17,1);
  color: rgba(230,230,230,1); 
}

.negative a {
  color: rgba(230,230,230,1);
}

.negative a:hover {
  color: rgba(230,230,230,0.6);
}

.negative-dim {
  background-color: rgba(5,5,5,0.8);
}

.negative-icon span {
  background: rgba(230,230,230,1);
}

.positive {
  background: rgba(245,245,245,1);
  color: rgba(17,17,17,1);  
}

.positive a {
  color: rgba(17,17,17,1);
}

.positive a:hover {
  color: rgba(17,17,17,0.5);
}

.positive-dim {
  background-color: rgba(236,236,236,0.8);
}
.positive-icon span {
  background: rgba(17,17,17,1);  
}

/*
media query
*/

@media screen and (max-width: 1450px) {
	#navi-container {
    display: block;
  }
  #post-container {
		margin: initial;
    padding: 0 32px;
	}

	#post-body {
		max-width: 800px;
	}

	#info-container {
		position: static;
		width: initial;
		max-width: 480px;
		margin: 0 auto;
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 840px) {
  #gnb {
    width: 100%;
    height: initial;
    padding: initial; 
    -webkit-overflow-scrolling: touch;
    transition: width .2s ease-in-out;
  }
  
  #gnb-bg {
    width: 45%;
    min-width: 300px;
    transition: width .2s ease-in-out;
  }

  #logo {
    width: 100%;
    height: initial;
    padding: 24px 0;
  }

  #logo a {
    margin-left: 16px;
  }

  #meetus {
    left: 170px;
  }
  
  #navi-toggle {
    display: block;
  }

  #navi-container {
		display: none;
    width: 45%;
    min-width: 300px;
	}
  .navi-section {
    margin: 0 16px 20px 16px;
  }
  .work-li {
    width: initial;
  }

	#content-container {
		margin-left: initial;
    padding: 0;
    -webkit-overflow-scrolling: touch;
	}

  #index-container {
    padding: 80px 8px 0 8px;
  }

  #post-container {
    padding: 0;
  }

  #siteinfo-container {
    padding: 0 16px;
    padding-top: 96px;
  }
  
  #info-container {
    padding: 24px 16px 0 16px;
  }

  #post-body p {
    padding: 0 16px;
  }

  #post-alt-title {
    max-width: initial;
    margin-right: 16px;
  }

  #post-navi {
    padding: 0 0 24px 0;
  }
}

@media screen and (max-width: 480px) {
  #gnb-bg {
    width: 100%;
    min-width: initial;
  }

  #navi-container {
    display: none;
    width: 100%;
    min-width: initial;
  }
  
  #info-container, #post-body p, .siteinfo-text, .siteinfo-headline {
    max-width: initial;
  }

  #post-alt-title {
    top: 24px;
  }

  .animation-downward {
    -webkit-animation: downward 0.3s ease-out;
    -moz-animation: downward 0.3s ease-out;
    -ms-animation: downward 0.3s ease-out;
    -o-animation: downward 0.3s ease-out;
    animation: downward 0.3s ease-out;
  }
  @-webkit-keyframes downward {
    from {opacity:0; top:0px;}
    to {opacity:1; top:24px;}
  }

  @-moz-keyframes downward {
    from {opacity:0; top:0px;}
    to {opacity:1; top:24px;}
  }

  @-ms-keyframes downward {
    from {opacity:0; top:0px;}
    to {opacity:1; top:24px;}
  }

  @-o-keyframes downward {
    from {opacity:0; top:0px;}
    to {opacity:1; top:24px;}
  }

  @keyframes downward {
    from {opacity:0; top:0px;}
    to {opacity:1; top:24px;}
  }

}