---
layout: default
---
<div id="post-container">
	<div id="info-container">
		<div id="post-alt-title">
			<h3>{{ page.title }}</h3>
		</div>
    	<div id="post-navi" class="clearfix">
			<div id="next-post">
				{% if page.next.url %}
				<button><a class="next" href="{{ page.next.url }}"><svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path id="next-icon" style="fill:#111111;" d="M13.5 6.5L12 5 1 16l11 11 1.5-1.5L4 16l9.5-9.5z"/></svg></a></button>
				{% else %}
				<button class="disable-button" ><svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path id="next-icon" style="fill:#111111;" d="M13.5 6.5L12 5 1 16l11 11 1.5-1.5L4 16l9.5-9.5z"/></svg></button>
				{% endif %}
			</div>
			<div id="go-index">
		    	<button><a href="{{ site.url }}"><svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path id="index-icon" style="fill:#111111;" d="M5 13h6v10H5V13zm0-8h6v6H5V5zm8 12h6v10h-6V17zm0-12h6v10h-6V5zm8 5h6v10h-6V10zm0-5h6v3h-6V5z"/></svg></a></button>
	    	</div>
			<div id="prev-post">
				{% if page.previous.url %}
			    <button><a href="{{ page.previous.url }}"><svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path id="prev-icon" style="fill:#111111;" d="M18.5 6.5L20 5l11 11-11 11-1.5-1.5L28 16l-9.5-9.5z"/></svg></a></button>
				{% else %}
				<button class="disable-button" ><svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path id="prev-icon" style="fill:#111111;" d="M18.5 6.5L20 5l11 11-11 11-1.5-1.5L28 16l-9.5-9.5z"/></svg></button>
				{% endif %}
			</div>
    	</div>		    
	    <div id="post-info">
			<div id="post-title" class="info-section">
				<h4>{{ page.title }}</h4>
			</div>
			<div class="info-section">
				<p>{{ page.description }}</p>
			</div>
			<div class="info-section">
				{% for item in page.metadata %}
					<p>{{ item }}</p>
				{% endfor %}
			</div>
			<div class="info-section">
				Disciplines :
				{% for item in page.tags %}
					<span class="post-tag">{{ item }}</span>
				{% endfor %}
			</div>
		</div>
		<div class="clearfix">
			
		</div>
	</div>
    <div id="post-body">
	    {{ content }}
	</div>
</div>