{% include header.html %}

<div id="content-container">
    <div id="post-container">
    	<div id="info-container">
	    	<div id="post-navi" class="clearfix">
				<div id="prev-post">
					{% if page.previous.url %}
				    <button><a href="{{ page.previous.url }}"><img id="prev-icon" src=""></a></button>
					{% else %}
					<button class="disable-button" ><img id="prev-icon" src=""></button>
					{% endif %}
				</div>
				<div id="next-post">
					{% if page.next.url %}
					<button><a class="next" href="{{page.next.url}}"><img id="next-icon" src=""></a></button>
					{% else %}
					<button class="disable-button" ><img id="next-icon" src=""></button>
					{% endif %}
				</div>
				<div id="go-index">
			    	<button><a href="{{ site.url }}"><img id="index-icon" src=""></a></button>
		    	</div>
	    	</div>		    
		    <div id="post-info">
				<div id="post-title" class="info-section">
					<h3>{{ page.title }}</h3>
				</div>
				<div class="info-section">
					<p>{{ page.description }}</p>
				</div>
				<div class="info-section">
					{% for item in page.metadata %}
						<p>{{ item }}</p>
					{% endfor %}
				</div>
				<div class="info-section">
					<p>Disciplines: {{ page.tags }}</p>
				</div>
			</div>
			<div class="clearfix">
				
			</div>
		</div>
	    <div id="post-body">
		    {{ content }}
		</div>
	</div>
</div>

{% include footer.html %}